.menudrawer__divSocialNetworks {
  font-size: 26px;
  gap: 25px;
}

.menudrawer__btnWrapper {
  background-color: transparent;
  width: 35px;
  border: none;
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
}

.menudrawer__divMenu {
  display: flex;
  justify-content: flex-end;
}

.menudrawer__xWrapper {
  font-size: 1.2rem;
  color: $light-pink;
}

.menudrawer__footerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 610px;
  right: 10px;
}

.menudrawer__link {
  border-bottom: 2px solid var(--color-3);
  display: flex;
  justify-content: flex-start;
}

.menudrawer__link p {
  font-size: 20px;
  font-weight: 500;
  padding-right: 10px;
  padding: 0.5rem;
}

.menudrawer__ley p {
  font-size: 11px;
  color: $dark-grey;
  line-height: 20px;
  text-align: start;
  padding: 1rem;
}

.menudrawer__socialNetworks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.menudrawer__socialNetworks img {
  width: 40px;
}

.menuDrawer__link {
  color: $light-grey;
  font-weight: 500;
}

.menuDrawer__activeLink {
  color: $light-brown;
  font-weight: 700;
  position: relative;
}

.menuDrawer__activeLink :after {
  content: "";
  background-color: $dark-grey;
  height: 1.7px;
  width: 30%;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: ease-in 0.2s;
}
