$light-brown: #E9B465;
$dark-brown: #AF905A;
$light-pink: #ffe1c7;
$white: #FFF0E3;
$light-grey: #CECECE;
$dark-grey: #404040;
$black: #000;
$font-color: #FFF0E3;
$light-cream: #FBF7EA;
$green: #9AE965;
$light-green: #9AE965;
$dark-green: #396C54;
$soft-green: #CFF2B8;

